build/
bin/
lib/

*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.a
*.txt

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

CMakeUserPresets.json

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
.vscode/settings.json

.DS_Store
Thumbs.db